.filters {
    padding: 20px 0;
    display: flex;

    &-item {
        padding-right: 10px;
        font-size: 12px;
        min-width: 250px;

        input {
            margin: 5px 0;

            &.error {
                border-color: red;
            }
        }

        &:last-child {
            padding-right: 0;
        }

        &-error {
            color: red;
        }
    }
}